@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito.ttf");
}

@font-face {
    font-family: "Nunito Bold";
    src: url("../fonts/nunitobold.ttf");
}

@font-face {
    font-family: "Nunito Black";
    src: url("../fonts/nunitoblack.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/montserratbold.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../fonts/montserratblack.ttf");
}

.root {
    -fx-font-family: "Nunito";
}

.dashboard-menu {
    -fx-text-fill: white;
    -fx-background-radius: 5em;
}

.dashboard-menu > SVGPath {
    -fx-fill: white;
}

.dashboard-menu:hover {
    -fx-background-color: #6cd6ab;
}

.dashboard-menu.active {
    -fx-background-color: #51d7a0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #51d7a0;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style: solid;
}

.table-view:row-selection .column-header-background .filler {
    -fx-background-color: #FFFFFF;
}

.table-view:row-selection .column-header-background .show-hide-columns-button {
    -fx-background-color: #e0e0e0;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #505050;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 50px;
}

.table-view .table-column {
    -fx-padding: 18 10 10 10;
    -fx-border-width: 0px 0px 0px 0px;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .table-row-cell {
    -fx-background-color: #FFF;
    -fx-font-size: 14px;
    -fx-pref-height: 50px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #e0e0e0;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #e0e0e0;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #51d7a0;
}

.table-view:row-selection .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #e0e0e0;
}

.table-view .table-row-cell:empty {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.button {
    -fx-cursor: hand;
}

.jfx-text-field {
    -fx-font-size: 16px;
}

.jfx-password-field {
    -fx-font-size: 16px;
}

.jfx-combo-box {
    -fx-font-size: 16px;
}

.jfx-date-picker {
    -fx-font-size: 16px;
}

.jfx-time-picker {
    -fx-font-size: 16px;
}

.rounded-btn {
    -fx-background-radius: 2.5em;
}